html {
    box-sizing: border-box;  /*Paul Irish box sizing*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-family: 'Happy Monkey', cursive;
    font-size: 20px;
    margin: 0;
}

h1 h2 {
    font-family: 'Charm', cursive;
    font-weight: 400; 
}

h1 {
    font-size: 60px;
}
h2{
    font-size: 40px;
    margin-top: 0;
}

.navigation {
    display: inline-block;
    padding:12px 160px;
    background: rgb(225, 192, 255);
    
    border-left: 3px solid black;
        }
.navigationside {
    display: inline-block;
    padding:12px 160px;
    background: rgb(225, 192, 255);
}

.navigation:hover {
    background-color: rgb(139, 98, 105);
}   
.navigationside:hover {
    background-color: rgb(139, 98, 105);
}
.wrapper {
    max-width: 85%;
    margin: 0 auto;
    padding: 50px;
}

.top-right-col  {
    width: 70%;
    
}

.top-left-col {
    width: 30%;
    float: left;
}

a {
    color: #ef233c;
}

a:hover {
    text-decoration: none;
}

/*header and footer*/

.profile-image {
    border-radius: 60%;
   }

header, footer {
    background: #2B2D42;
    color: #8d99ae;
}

footer {
    text-align: center;
}

header h1, header h2 {
    color: rgb(134, 206, 230);
    margin: 0;
    
}

/*work*/

.work {
    background: rgb(184, 225, 241);
}

/*eduication*/

.education {
    background: #8d99ae;
}
.contacts a {
    display: inline-block;
    padding: 10px;
    background: white;
    border: 2px solid black;
    color: #2B2D42;

      
}