html {
    box-sizing: border-box;  /*Paul Irish box sizing*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-family: 'Happy Monkey', cursive;
    font-size: 20px;
    margin: 0;
}

h1 h2 {
    font-family: 'Charm', cursive;
    font-weight: 400; 
}

h1 {
    font-size: 60px;
}
h2{
    font-size: 40px;
    margin-top: 0;
}

nav {
    text-align: center;
    font-size: 0;
    background: white;
    
    
}
nav a {
    padding: 10px;
    display: inline-block;
    width: 20%;
    background: white;
    font-size: 20px;
    color: #2B2D42;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
nav a:hover {
    background: #a7ace0;
    color: lightgrey;
}

.wrapper {
    max-width: 85%;
    margin: 0 auto;
    padding: 50px;
}

.top-right-col  {
    width: 70%;
   /* border: 3px solid orange;*/
    height: 450px;
    
}

.top-left-col {
    width: 30%;
    float: left;
    margin: 0;
   /* border: 3px solid orange;*/
    height: 450px;

}

a {
    color: #ef233c;
}

a:hover {
    text-decoration: none;
}

/*header and footer*/

.profile-image {
    border-radius: 60%;
    float: right;
    margin-right: 15px;

   }

header, footer {
    background: #2B2D42;
    color: #8d99ae;
}

footer {
    text-align: center;
}

header h1, header h2 {
    color: rgb(134, 206, 230);
    margin: 0;
    
}

/*work*/

.work {
    background: rgb(184, 225, 241);
}

/*eduication*/

.education {
    background: #8d99ae;
}
.contacts a {
    display: inline-block;
    padding: 10px;
    background: white;
    border: 2px solid black;
    color: #2B2D42;      
}